@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}

@mixin small-phones {
    @media screen and (max-width: $small-phones) {
        @content;
    }
}