@charset "UTF-8";
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

p {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer; }
  button:focus {
    outline: none; }

input {
  border: none; }
  input:focus {
    outline: none; }

.header {
  width: 100%;
  height: 60px;
  background-color: #CD7233;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%; }

.header__logo {
  font-family: "Damion";
  text-decoration: none;
  font-size: 42px;
  color: #fff; }
  @media screen and (max-width: 500px) {
    .header__logo {
      font-size: 35px;
      margin-top: 8px; } }

.header__spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.header__menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%; }
  @media screen and (max-width: 925px) {
    .header__menus {
      -webkit-box-orient: initial;
      -webkit-box-direction: initial;
      -ms-flex-direction: initial;
      flex-direction: initial;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.header__language-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__language-item:first-child {
  font-weight: 700; }
  .header__language-item:first-child:after {
    content: "/";
    color: #fff;
    margin-right: 5px; }

.header__language-link {
  font-size: 14px;
  color: #fff;
  text-decoration: none; }

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 925px) {
    .header__menu-list {
      display: none; } }

.header__menu-item:after {
  content: "•";
  color: #fff;
  margin-right: 10px;
  margin-left: 7px; }

.header__menu-item:last-child:after {
  content: "";
  margin-right: 0px;
  margin-left: 0px; }

.header__menu-link {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  .header__menu-link:hover {
    opacity: 0.8; }

.header__hamburger {
  display: none;
  position: relative; }
  @media screen and (max-width: 925px) {
    .header__hamburger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 20px;
      height: 100%; } }
  @media screen and (max-width: 500px) {
    .header__hamburger {
      margin-left: 5px; } }

.hamburger__icon {
  color: #fff;
  font-size: 24px; }
  @media screen and (max-width: 500px) {
    .hamburger__icon {
      font-size: 20px; } }

.header__profile {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin-left: 20px;
  position: relative; }
  @media screen and (max-width: 925px) {
    .header__profile {
      margin-left: 10px; } }
  @media screen and (max-width: 500px) {
    .header__profile {
      margin-left: 2px; } }

.profile__icon {
  color: #fff;
  opacity: 1;
  font-size: 30px;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  .profile__icon:hover {
    opacity: 0.8; }
  @media screen and (max-width: 500px) {
    .profile__icon {
      font-size: 20px; } }

.header__user-menu-list {
  margin-bottom: 10px; }

html, body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.42;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media screen and (max-width: 925px) {
    html, body {
      font-size: 16px; } }
  @media screen and (max-width: 700px) {
    html, body {
      font-size: 15px; } }
  @media screen and (max-width: 500px) {
    html, body {
      font-size: 14px; } }

body {
  position: relative; }

.wrapper {
  width: 100%;
  height: 100%; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.content {
  width: 1000px;
  max-width: 85vw;
  padding: 0px 20px; }
  @media screen and (max-width: 925px) {
    .content {
      width: 100%; } }
  @media screen and (max-width: 500px) {
    .content {
      max-width: 90vw; } }

.main {
  width: 100%;
  min-height: calc(100% - 60px);
  background-color: #F1F1F2;
  -webkit-transition: 700ms;
  -o-transition: 700ms;
  transition: 700ms; }
  .main.--auth {
    height: calc(100% - 60px);
    background-image: url("../img/main.jpg");
    background-size: cover;
    background-color: transparent; }
    @media screen and (max-width: 700px) {
      .main.--auth {
        background-position-x: 30%; } }
    @media screen and (max-width: 500px) {
      .main.--auth {
        background-position-x: 50%; } }

.main__content {
  background-color: #fff;
  padding: 20px 20px 0px 20px;
  min-height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .main__content.--auth {
    height: 100%;
    background-color: transparent;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .main__content.--map {
    height: 100%;
    background-color: transparent;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0px; }

.filter-input {
  border-radius: 7px;
  width: 80%;
  height: 30px;
  padding: 3px;
  margin: 5px;
  text-align: left; }

.title {
  font-size: 32px;
  line-height: 38px;
  margin-top: 10px;
  margin-bottom: 20px; }

.description {
  margin-bottom: 20px; }

section {
  margin-bottom: 20px; }

.popup__close {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #6D6E70; }

.disabled {
  display: none !important; }

.form-block {
  font-size: 15px;
  width: 370px;
  padding: 25px;
  background-color: #CD7233;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff; }
  @media screen and (max-width: 500px) {
    .form-block {
      max-width: 300px;
      width: 90vw; } }

.form-block__content, .form-block__form, .form-block__extras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.form-block__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px; }

.form-block__extras {
  font-size: 14px; }
  .form-block__extras span {
    text-align: center; }

.form-block__text-input {
  border-radius: 7px;
  width: 250px;
  height: 30px;
  padding: 3px;
  margin: 4px;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  @media screen and (max-width: 500px) {
    .form-block__text-input {
      max-width: 250px;
      width: initial; } }

.button {
  border: 1px solid #fff;
  border-radius: 7px;
  color: #fff;
  height: 30px;
  padding: 2px 10px 3px 10px;
  min-width: 70px;
  margin: 12px;
  text-align: center;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .button:hover {
    background-color: #6D6E70; }

.dropdown {
  min-width: 220px;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 55px;
  right: -14px;
  background-color: white;
  text-align: right;
  -webkit-box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 500px) {
    .dropdown {
      min-width: 150px; } }

.dropdown__arrow {
  width: 20px;
  height: 20px;
  border-bottom: 10px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  right: 25px;
  top: -15px; }

.dropdown__title {
  font-weight: 500;
  padding: 7px 5px; }

.dropdown__menu-item {
  padding: 7px 5px; }
  .dropdown__menu-item:hover {
    background-color: #F1F1F2;
    font-weight: 500; }

.dropdown__menu-link {
  color: #000;
  text-decoration: none;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }

.dropdown__extras {
  padding: 7px 5px; }

.select {
  outline: 0px;
  border-color: #6D6E70;
  font-size: 15px; }
  .select:focus {
    outline: 0px; }

option:focus {
  outline: 0px; }

.bottom-block {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  padding: 10px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 500px) {
    .bottom-block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.big-map__intro {
  width: 70vw; }

.big-map__results-list {
  width: 40vw;
  font-size: 15px; }
  @media screen and (max-width: 925px) {
    .big-map__results-list {
      width: 40vw; } }
  @media screen and (max-width: 700px) {
    .big-map__results-list {
      width: 45vw; } }
  @media screen and (max-width: 500px) {
    .big-map__results-list {
      width: 80vw;
      display: none; } }

.big-map__results-item span:first-child {
  font-weight: 500; }

.table-container {
  overflow: auto; }

.table {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 15px;
  table-layout: fixed;
  min-width: 450px; }

.table-header-row {
  background-color: #CD7233;
  color: #fff;
  text-align: left; }

.table-data-row {
  background-color: rgba(241, 241, 242, 0.5); }
  .table-data-row:hover {
    background-color: #f1f1f2; }

.table-cell {
  padding: 7px;
  border-right: rgba(255, 255, 255, 0.5) solid 1px; }
  .table-cell_narrow {
    width: 50px; }

.table-link {
  color: #000; }
  .table-link:hover {
    font-weight: 500; }

.table__header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 700px) {
    .table__header-block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.table__header-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .table__header-controls button {
    color: #fff;
    opacity: 0.4; }
    .table__header-controls button:hover {
      opacity: 1; }

.sort-btn {
  font-size: 14px; }

.filter-btn {
  font-size: 12px;
  margin-right: -5px; }

.filter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .filter-block button {
    color: #fff;
    opacity: 0.4; }
    .filter-block button:hover {
      opacity: 1; }

.filter-block__input {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px; }

.filter-block__close-btn {
  margin-right: -5px; }

.filter-block__checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  font-weight: 300; }

.autocomplete {
  width: 250px;
  padding: 20px;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 26px;
  z-index: 10; }

.autocomplete__list {
  color: #000;
  font-weight: 100; }

.pagination {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.pagination__page-amount {
  margin-right: 40px; }

.pagination__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.pagination__pages-current-page {
  margin-right: 40px; }

.pagination__pages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.pagination__pages-item {
  margin-right: 10px; }

.pagination__pages-link {
  color: #000; }

.edit-section {
  width: 100%; }

.edit__buttons-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 500px) {
    .edit__buttons-list {
      font-size: 14px; } }

.edit__buttons-item {
  background-color: rgba(0, 135, 153, 0.8);
  border: #fff solid 1px;
  padding: 4px;
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  .edit__buttons-item:hover {
    background-color: #008799; }

.edit__buttons-link {
  color: #fff;
  text-decoration: none; }

.edit-btn, .delete-btn {
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  .edit-btn:hover, .delete-btn:hover {
    color: #008799; }

.add-btn {
  color: #008799;
  display: block;
  margin-top: 18px; }
  .add-btn:hover {
    font-weight: 500; }

.main__spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.footer {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  padding: 10px 20px;
  background-color: #F1F1F2;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 925px) {
    .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 40px; }
  .footer__company span:nth-child(1) {
    font-weight: 500; }
  @media screen and (max-width: 925px) {
    .footer__company {
      margin-bottom: 10px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 0px; } }

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .footer__contacts a {
    text-decoration: none;
    color: #000; }
    .footer__contacts a:hover {
      text-decoration: underline; }
  @media screen and (max-width: 925px) {
    .footer__contacts {
      margin-bottom: 10px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.footer__spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__socials-item {
  font-size: 20px;
  color: #6D6E70;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  margin-left: 20px; }
  .footer__socials-item:hover {
    color: #CD7233; }
  @media screen and (max-width: 925px) {
    .footer__socials-item:first-child {
      margin-left: 0px; } }

/*# sourceMappingURL=transport.css.map */