//adjust
    //reset
    @import "adjust/reset.scss"; 
    //resolutions
    $tablets: 925px;
    $phones: 700px;
    $small-phones: 500px;
    @import "adjust/media.scss";
    //colors
    $orange: #CD7233;
    $dark-gray: #6D6E70;
    $light-gray: #F1F1F2;

//common sections
@import "common/header.scss";
@import "common/common.scss";

//this page sections
@import "auth/auth.scss";
@import "auth/animation.scss";
