//adjust
    //reset
    @import "adjust/reset.scss"; 
    //resolutions
    $tablets: 925px;
    $phones: 700px;
    $small-phones: 500px;
    @import "adjust/media.scss";
    //colors
    $orange: #CD7233;
    $dark-gray: #6D6E70;
    $light-gray: #F1F1F2;
    $blue: #008799;

//common sections
@import "common/header.scss";
@import "common/hamburger.scss";
@import "common/user.scss";
@import "common/common.scss";
@import "common/tables.scss";
@import "common/pagination.scss";
@import "common/edit.scss";
@import "common/footer.scss";

//this page sections





