<main class="main container {{#if auth}}--auth{{/if}} {{#if map}}--map{{/if}}" id="main-container{{#if map}}map{{/if}}">
    <div class="main__content content {{#if auth}}--auth{{/if}} {{#if map}}--map{{/if}}">
      