<footer class="footer">
    <div class="footer__company">
        <span>Транспортная компания "НовАвтоТранс"</span>
        <span>Санкт-Петербург, Большой пр. ВО, д.32</span>
    </div>
    <address class="footer__contacts">
        <a class="footer__phone" href="tel:+79217425364">8 (921) 742-53-64</a>
        <a class="footer__email" href="mailto:pan-ta@yandex.ru">info@novavtotrans.ru</a>
    </address>
    <div class="footer__spacer"></div>
    <ul class="footer__socials-list">
        <li class="footer__socials-item">
            <i class="fab fa-vk"></i>
        </li>
        <li class="footer__socials-item">
            <i class="fab fa-facebook-square"></i>
        </li>
        <li class="footer__socials-item">
            <i class="fab fa-twitter"></i>
        </li>
    </ul>
</footer>
      