<header class="header container">
    <div class="header__content content">
        <a class="header__logo" href="index">myRoutes</a>
        <div class="header__spacer"></div>
        <div class="header__menus">
            <ul class="header__language-list">
                <li class="header__language-item">
                    <a href="" class="header__language-link">Rus</a>
                </li>
                <li class="header__language-item">
                    <a href="" class="header__language-link">Eng</a>
                </li>
            </ul>
            {{#unless auth}}
                <ul class="header__menu-list">
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="transport">Транспорт</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="routes">Маршруты</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="stops">Остановки</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="map">Построить маршрут</a>
                    </li>
                </ul>
                <div class="hamburger header__hamburger">
                    <button class="hamburger__icon" id="hamburger-btn">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="dropdown header__hamburger-dropdown disabled" id="hamburger-dropdown">
                        <div class="dropdown__arrow"></div>
                        <ul class="dropdown__menu-list">
                            <li class="dropdown__menu-item">
                                <a class="dropdown__menu-link" href="transport">Транспорт</a>
                            </li>
                            <li class="dropdown__menu-item">
                                <a class="dropdown__menu-link" href="routes">Маршруты</a>
                            </li>
                            <li class="dropdown__menu-item">
                                <a class="dropdown__menu-link" href="stops">Остановки</a>
                            </li>
                            <li class="dropdown__menu-item">
                                <a class="dropdown__menu-link" href="map">Построить маршрут</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {{/unless}}
        </div>
        {{#unless auth}}
            <div class="profile header__profile">
                <button class="profile__icon" id="profile-btn">
                    <i class="far fa-user-circle"></i>
                </button>
                <div class="dropdown profile__dropdown disabled" id="profile-dropdown">
                    <div class="dropdown__arrow"></div>
                    <div class="dropdown__title">pan-ta</div>
                    <ul class="dropdown__menu-list">
                        <li class="dropdown__menu-item">
                            <a class="dropdown__menu-link" href="transport">Избранное</a>
                        </li>
                        <li class="dropdown__menu-item">
                            <a class="dropdown__menu-link" href="routes">Настройки</a>
                        </li>
                    </ul>
                    <div class="dropdown__extras">
                        <button class="profile__logout" id="logout-btn">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </div>
                    
                </div>
            </div>
        {{/unless}}
    </div>
</header>