.icons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.icons__list {
    display: flex;
    width: 700px;
    justify-content: space-between;
    @include tablets {
        width: 100%;
    }
    @include small-phones {
        flex-direction: column;
    }
}


.icons__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    &:last-child {
        margin-right: 0px;
    }
    margin-bottom: 10px;
   
}

.icons__desc {
    text-align: center;
    @include small-phones {
        font-size: 18px;
    }
}

.icons__link {
    display: block;
    
    font-size: 60px;
    color: rgba($dark-gray, 0.5);
    transition: 300ms;
    &:hover {
        color: $orange;
    }


    @include phones {
        font-size: 50px;
    }

    @include small-phones {
        font-size: 60px;
    }
    
}

