.news__list {
    display: flex;
    justify-content: space-between;
    @include phones {
        flex-direction: column;
    }

}

.news__item {
    flex: 1 1;
    margin-right: 20px;
    margin-bottom: 10px;

    &:nth-child(n+4) {
        margin-right: 0px;
    }
    &:nth-child(1) .news__img {
        background-image: url("../img/01.jpg");
    }
    &:nth-child(2) .news__img {
        background-image: url("../img/02.jpg");
    }
    &:nth-child(3) .news__img {
        background-image: url("../img/03.jpg");
    }
    &:nth-child(4) .news__img {
        background-image: url("../img/04.jpg");
    }

    @include tablets {
        &:nth-child(3) {
            display: none;
        }
        &:nth-child(4) {
            display: none;
        }
    }


}

.news__img {
    width: 100%;
    height: 150px;
    background-size: cover;
    margin-bottom: 20px;
    @include tablets {
        height: 200px;
    }
    @include small-phones {
        height: 150px;
    }
}

.news__desc {
    font-size: 15px;
    margin-bottom: 10px;
}

.news__date {
    font-size: 15px;
    color: $orange;
    margin-bottom: 5px;
}

.news__subtitle {
    font-weight: 500;
    margin-bottom: 5px;
    transition: 300ms; 
    &:hover {
        color: $orange;
        cursor: pointer;
    }
}

.news__controls {
    font-size: 15px;
    color: $orange;
}



