{{> html/start title="myRoutes - Авторизация" css-link="static-assets/css/auth.css" js-link="static-assets/js/auth.js" settings=settings }}

<div class="wrapper">
    {{> body/header auth=true }}
    {{> body/container-start auth=true}}
        {{> body/sections/auth-section }}
    {{> body/container-end }}
</div>

{{> html/end }}