{{> html/start title="myRoutes - построй свой маршрут!" css-link="static-assets/css/index.css" js-link="static-assets/js/index.js" settings=settings }}

<div class="wrapper">
    {{> body/header }}
    {{> body/container-start }}
        {{> body/sections/edit-section }}
        {{> body/sections/intro-section title="myRoutes - построй свой маршрут!" desc="myRoutes - информационный портал транспортной компании НовАвтоТранс. Мы располагаем автопарком, включающим 4 категории ТС, общим числом свыше 150 единиц транспорта. На данный момент НовАвтоТранс обслуживает коммерческие маршруты Васильевского острова. Испозуйте myRoutes, чтобы найти информацию об интересных Вам маршрутах и остановках, а также чтобы построить маршрут."}}
        {{> body/sections/icons-section }}
        {{> body/sections/news-section }}
        {{> body/spacer }}
        {{> body/footer }}
    {{> body/container-end }}
</div>

{{> html/end }}