{{> html/start title="myRoutes - Построить маршрут!" css-link="static-assets/css/map.css" js-link="static-assets/js/map.js" map=true settings=settings }}

<div class="wrapper">
    {{> body/header }}
    {{> body/container-start map=true }}
        {{> body/sections/big-map-section }}
    {{> body/container-end }}
</div>

{{> html/end }}