{{> html/start title="myRoutes - Маршруты" css-link="static-assets/css/routes.css" js-link="static-assets/js/routes.js" settings=settings }}

<div class="wrapper">
    {{> body/header }}
    {{> body/container-start }}
        {{> body/sections/edit-section }}
        {{> body/sections/intro-section title="Маршруты" desc="На этой странице Вы можете найти список маршрутов, осуществляемых нашей компанией. Детальную информацию о маршруте Вы можете узнать, переходя по соответствующим ссылкам. Для поиска используйте кнопки сортировки и фильтрации, расположенные в шапке таблицы."}}
        {{> body/sections/table-section table-routes=true columns5=true}}
        {{> body/spacer }}
        {{> body/footer }}
    {{> body/container-end }}
</div>

{{> html/end }}