{{> html/start title="myRoutes - Детали маршрута" css-link="static-assets/css/route-card.css" js-link="static-assets/js/route-card.js" map=true settings=settings }}

<div class="wrapper">
    {{> body/header }}
    {{> body/container-start }}
        {{> body/sections/edit-section }}
        {{> body/sections/intro-section title="Маршрут №$" no-desc=true edit-btns=true }}
        {{> body/sections/details-section param1= "Транспорт: " param2= "Начальная остановка: " param3= "Конечная остановка: " param4= "Остановок: " param5= "Время в пути: "}}
        {{> body/sections/map-section }}
        {{> body/sections/table-section table-route-card=true columns2=true no-pagination=true no-add-btn=true }}
        {{> body/spacer }}
        {{> body/footer }}
    {{> body/container-end }}
</div>

{{> html/end }}