{{> html/start title="myRoutes - Транспорт" css-link="static-assets/css/transport.css" js-link="static-assets/js/stops.js" settings=settings }}
<div class="wrapper">
    {{> body/header }}
    {{> body/container-start }}
        {{> body/sections/edit-section }}
        {{> body/sections/intro-section title="Остановки" desc="На этой странице Вы можете найти список остановок с указанием адреса и проходящих маршрутов."}}
        {{> body/sections/table-section table-stops=true columns4=true }}
        {{> body/spacer }}
        {{> body/footer }}
    {{> body/container-end }}
</div>

{{> html/end }}