{{> html/start title="myRoutes - Об остановке" css-link="static-assets/css/route-card.css" js-link="static-assets/js/stop-card.js" map=true settings=settings }}

<div class="wrapper">
    {{> body/header }}
    {{> body/container-start }}
        {{> body/sections/edit-section }}
        {{> body/sections/intro-section title="Остановка №$" no-desc=true edit-btns=true }}
        {{> body/sections/details-section param1= "№ остановки: " param2= "Адрес: " param3= "Проходящие маршруты: " param4= "Расписание: "}}
        {{> body/sections/map-section }}
        {{!-- {{> body/sections/table-section table-route-card=true columns2=true no-pagination=true}} --}}
        {{> body/spacer }}
        {{> body/footer }}
    {{> body/container-end }}
</div>

{{> html/end }}