{{> html/start title="myRoutes - О транспортном средстве" css-link="static-assets/css/route-card.css" js-link="static-assets/js/transport-card.js" map=false settings=settings }}

<div class="wrapper">
    {{> body/header }}
    {{> body/container-start }}
        {{> body/sections/edit-section }}
        {{> body/sections/intro-section title="ТС №$" no-desc=true edit-btns=true }}
        {{> body/sections/details-section param1= "Парковый номер ТС: " param2= "Тип ТС: " param3= "Обслуживает маршрут: " param4= "Мест: "}}
        {{!-- {{> body/sections/map-section }}
        {{> body/sections/table-section table-route-card=true columns2=true no-pagination=true}} --}}
        {{> body/spacer }}
        {{> body/footer }}
    {{> body/container-end }}
</div>

{{> html/end }}