{{> html/start title="myRoutes - Транспорт" css-link="static-assets/css/transport.css" js-link="static-assets/js/transport.js" settings=settings }}
<div class="wrapper">
    {{> body/header }}
    {{> body/container-start }}
        {{> body/sections/edit-section }}
        {{> body/sections/intro-section title="Транспорт" desc="На этой странице Вы можете найти список транспортных средств, находящихся в распоряжении нашей компании."}}
        {{> body/sections/table-section table-transport=true columns4=true }}
        {{> body/spacer }}
        {{> body/footer }}
    {{> body/container-end }}
</div>

{{> html/end }}