.details-section {
    margin-bottom: 20px;
    font-size: 15px;
}

.details-section__string span{
    &:nth-child(1) {
        font-weight: 500;
    }
}

.details-section__link {
    color: rgba($dark-gray, 0.7);
    transition: 300ms;
    &:hover {
        color: $orange;
    }
}

.map {
    width: 100%;
    height: 50vh;
    margin-bottom: 20px;
    &.--big {
        height: 95vh;
        width: 100vw;
        margin-bottom: 0px;
    }
}