html, body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.42;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include tablets {
      font-size: 16px;
    }
    @include phones {
      font-size: 15px;
    }
    @include small-phones {
        font-size: 14px;
    }
}

body {
  position: relative;
}

.wrapper {
    width: 100%;
    height: 100%;

}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.content {
    width: 1000px;
    max-width: 85vw;
    padding: 0px 20px;

    @include tablets {
        width: 100%;
    }

    @include small-phones {
        max-width: 90vw;
    }
} 

.main {
    width: 100%;
    min-height: calc(100% - 60px);
    background-color: $light-gray;
    transition: 700ms; 
    &.--auth {
        height: calc(100% - 60px);
        background-image: url("../img/main.jpg");
        background-size: cover;
        background-color: transparent;

        @include phones {
            background-position-x: 30%;
        }

        @include small-phones {
            background-position-x: 50%;
        }
    }
}

.main__content {
    background-color: #fff;
    padding: 20px 20px 0px 20px;
    min-height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;

    &.--auth {
        height: 100%;
        background-color: transparent;
        align-items: center;
        justify-content: flex-end;
    }
    &.--map {
        height: 100%;
        background-color: transparent;
        align-items: center;
        justify-content: flex-end;
        padding: 0px ;
    }


} 


.filter-input {
    border-radius: 7px;
    width: 80%;
    height: 30px;
    padding: 3px;
    margin: 5px;
    text-align: left;

}

.submit-btn {
    
}

.title {
    font-size: 32px;
    line-height: 38px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.description {
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}


.popup__close {
    position: absolute;
    top: 10px;
    left: 10px;
    color: $dark-gray;
}

.disabled {
    display: none !important; 
}

///////////////// form

.form-block {
    font-size: 15px;
    width: 370px;
    padding: 25px;
    background-color: $orange;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    @include small-phones {
        max-width: 300px;
        width: 90vw;
    }
}

.form-block__content, .form-block__form, .form-block__extras {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-block__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.form-block__extras {
    font-size: 14px;
    span {
        text-align: center;
    }
}

.form-block__text-input {

    border-radius: 7px;
    width: 250px;
    height: 30px;
    padding: 3px;
    margin: 4px;
    text-align: center;
    transition: 0.3s;
    
    @include small-phones {
        max-width: 250px;
        width: initial;
    }

}

.button {
    border: 1px solid #fff;
    border-radius: 7px;
    color: #fff;
    height: 30px;
    padding: 2px 10px 3px 10px;
    min-width: 70px;
    margin: 12px;
    text-align: center;
    outline: none;
    transition: 0.3s;
    &:hover {
        background-color: $dark-gray;
    }
}


///////////////////

.dropdown {
    min-width: 220px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 55px;
    right: -14px;
    background-color: white;
    text-align: right;
    box-shadow: 2px 2px 5px 3px rgba(#000, 0.2); 
    @include small-phones {
        min-width: 150px;
    }
}

.dropdown__arrow {
    width: 20px;
    height: 20px;
    border-bottom: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    right: 25px;
    top: -15px;
}

.dropdown__title {

    font-weight: 500;
    padding: 7px 5px;
}

.dropdown__menu-list {

}

.dropdown__menu-item {
    padding: 7px 5px;
    &:hover {
        background-color: $light-gray;
        font-weight: 500;
    }
}

.dropdown__menu-link {
    color: #000;
    text-decoration: none;
    transition: 300ms;
}

.dropdown__extras {
    padding: 7px 5px; 
}

.select {
    outline: 0px; 
    border-color: $dark-gray;
    font-size: 15px;
    &:focus {
        outline: 0px; 
    }
    
}

option {
    &:focus {
        outline: 0px;
    }
}  


.bottom-block {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 20px 20px 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 2px 2px 5px 3px rgba(#000, 0.2);
    @include small-phones {
        flex-direction: column;
    }

}

.big-map__intro {
    width: 70vw;
}

.big-map__results-list {
    width: 40vw;
    font-size: 15px;
    @include tablets {
        width: 40vw;
    }
    @include phones {
        width: 45vw;
    }
    @include small-phones {
        width: 80vw;
        display: none; 

    }

}

.big-map__results-item {
    span {
        &:first-child {
            font-weight: 500;
        }
    }
}