.edit-section {
    width: 100%;
}

.edit__buttons-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include small-phones {
        font-size: 14px;
    }
}

.edit__buttons-item {
    background-color: rgba($blue, 0.8);
    border: #fff solid 1px; 
    padding: 4px;
    // border-radius: 6px;
    width: 100%;
    flex-grow: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
    &:hover {
        background-color: rgba($blue, 1);
    }

}

.edit__buttons-link {
    color: #fff;
    text-decoration: none;
}

.edit-btn, .delete-btn {
    color: rgba(#000, 0.4);
    font-size: 13px;
    transition: 300ms;
    &:hover {
        color: $blue;
    }
}

.add-btn {
    color: $blue;
    display: block;
    margin-top: 18px;
    &:hover {
        font-weight: 500;
    }
}


.edit {
    // display: none;
}