.main__spacer {
    flex-grow: 1;
}

.footer {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px 20px;

    background-color: $light-gray;
    font-size: 14px;
    display: flex;
    align-items: center;
    @include tablets {
        flex-direction: column;
    }

}

.footer__company {
    
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    
    span {
        &:nth-child(1) {
            font-weight: 500;
        }
    }
            
    @include tablets {
        margin-bottom: 10px;
        align-items: center;
        margin-right: 0px;
    }

}

.footer__contacts {
    display: flex;
    flex-direction: column;
    a {
        text-decoration: none;
        color: #000;
        &:hover {
            text-decoration: underline;
        }

    }
    @include tablets {
        margin-bottom: 10px;
        align-items: center;
    }
}

.footer__spacer {
    flex-grow: 1;
}

.footer__socials-list {
    display: flex;
}

.footer__socials-item {
    font-size: 20px;
    color: $dark-gray;
    transition: 300ms;
    &:hover {
        color: $orange;
    }

    margin-left: 20px;

    @include tablets {
        &:first-child {
            margin-left: 0px;
        }
    }
}