.header__hamburger {
    display: none;
    position: relative;
    @include tablets {
        display: flex;
        margin-left: 20px;
        height: 100%;
    }
    @include small-phones {
        margin-left: 5px;
    }
}

.hamburger__icon {
    color: #fff;
    font-size: 24px;
    @include small-phones {
        font-size: 20px;
    }
}
