.header {
    width: 100%;
    height: 60px;
    background-color: $orange;
    display: flex;
    z-index: 10;
    flex-grow: 0;
    
}

.header__content {
    display: flex;
    justify-content: space-between;
    height: 100%;

}

.header__logo {

font-family: "Damion";
text-decoration: none;
font-size: 42px;
color: #fff;
@include small-phones {
    font-size: 35px;
    margin-top: 8px;
}

}

.header__spacer {
    flex-grow: 1;
}

.header__menus {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    @include tablets {
        flex-direction: initial;
        align-items: center;
    }
}

.header__language-list {
    display: flex;

}

.header__language-item {
    &:first-child {
        font-weight: 700;
        &:after {
            content: "/";
            color: #fff;
            margin-right: 5px;
            
        }
    }
}


.header__language-link {
    font-size: 14px;
    color: #fff;
    text-decoration: none;

}

.header__menu-list {
    display: flex;
    @include tablets {
        display: none;
    }

}

.header__menu-item {
    &:after {
        content: "•";
        color: #fff;
        margin-right: 10px;
        margin-left: 7px;
        
    }
    &:last-child {
        &:after {
            content: "";
            margin-right: 0px;
            margin-left: 0px;
        }
    }

}

.header__menu-link {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: 300ms;
    &:hover {
        opacity: 0.8;
    }

    @include phones {

    }
}

.header-popup {

    
 
}

.header-popup__arrow {
    

}
