.pagination {
    font-size: 14px;
    display: flex;
    align-items: baseline;
}

.pagination__page-amount {
    margin-right: 40px;
}

.pagination__pages {
    display: flex;
}

.pagination__pages-current-page {
    margin-right: 40px;
}

.pagination__pages-list {
    display: flex;
}

.pagination__pages-item {
    margin-right: 10px;
}

.pagination__pages-link {
    color: #000;
}