.table-container {
    overflow: auto;

}

.table {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 15px;
    table-layout: fixed; 
    min-width: 450px;

    
}


.table-header-row {
    background-color: $orange;
    color: #fff;
    text-align: left; 

}

.table-data-row {
    background-color: rgba($light-gray, 0.5);

    &:hover {
        background-color: rgba($light-gray, 1);
    }
    
}


.table-cell {
    padding: 7px;
    border-right: rgba(#fff, 0.5) solid 1px;
  
    &_narrow {
        width: 50px;
    }
    
}




.table-link {
    color: #000;
    &:hover {
        font-weight: 500;
    }
}

.table__header-block {
    display: flex;
    justify-content: space-between;

    @include phones {
        flex-direction: column;

    }
}


.table__header-controls {
    display: flex;
    button {
        color: #fff;
        opacity: 0.4;
        &:hover {
            opacity: 1;
        }
    }
}

.sort-btn {
    font-size: 14px;
}

.filter-btn {
    font-size: 12px;
    margin-right: -5px;
}


.filter-block {
    display: flex;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    button {
        color: #fff;
        opacity: 0.4;
        &:hover {
            opacity: 1;
        }
    }

    position: relative;
}

.filter-block__input {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
}

.filter-block__close-btn {
    margin-right: -5px;
}


.filter-block__checkboxes {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 300;
}

.autocomplete {
    
    width: 250px;
    padding: 20px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 2px 2px 5px 2px rgba(#000, 0.2); 

    position: absolute;
    top: 26px;

    z-index: 10;
}

.autocomplete__list {
    color: #000;
    font-weight: 100;
}