.header__profile {
    z-index: 10;
    display: flex;
    flex-grow: 0;
    margin-left: 20px;
    position: relative;
    @include tablets {
        margin-left: 10px;
    }
    @include small-phones {
        margin-left: 2px;
    }
    
}

.profile__icon {
    color: #fff;
    opacity: 1;
    font-size: 30px;
    transition: 300ms;
    &:hover {
        opacity: 0.8;
    }
    @include small-phones {
        font-size: 20px;
    }
}


.header__user-name {
    
}

.header__user-menu-list {
    margin-bottom: 10px;
}

.header__user-logout {
     
}