@charset "UTF-8";
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

p {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer; }
  button:focus {
    outline: none; }

input {
  border: none; }
  input:focus {
    outline: none; }

.header {
  width: 100%;
  height: 60px;
  background-color: #CD7233;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%; }

.header__logo {
  font-family: "Damion";
  text-decoration: none;
  font-size: 42px;
  color: #fff; }

.header__spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.header__menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%; }
  @media screen and (max-width: 925px) {
    .header__menus {
      -webkit-box-orient: initial;
      -webkit-box-direction: initial;
      -ms-flex-direction: initial;
      flex-direction: initial;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.header__language-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__language-item:first-child {
  font-weight: 700; }
  .header__language-item:first-child:after {
    content: "/";
    color: #fff;
    margin-right: 5px; }

.header__language-link {
  font-size: 14px;
  color: #fff;
  text-decoration: none; }

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 925px) {
    .header__menu-list {
      display: none; } }

.header__menu-item:after {
  content: "•";
  color: #fff;
  margin-right: 10px;
  margin-left: 7px; }

.header__menu-item:last-child:after {
  content: "";
  margin-right: 0px;
  margin-left: 0px; }

.header__menu-link {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  .header__menu-link:hover {
    opacity: 0.8; }

.header-popup {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  border: #CD7233 1px solid;
  text-align: right; }

.header__hamburger {
  display: none;
  position: relative; }
  @media screen and (max-width: 925px) {
    .header__hamburger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 20px;
      height: 100%; } }

.header__hamburger-icon {
  color: #fff;
  font-size: 24px; }

.header__hamburger-menu {
  display: none; }

.header__hamburger-menu-item {
  margin-bottom: 5px; }

.header__hamburger-menu-link {
  color: #000;
  text-decoration: none;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  .header__hamburger-menu-link:hover {
    text-decoration: underline; }

.header__user {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin-left: 20px;
  position: relative; }
  @media screen and (max-width: 925px) {
    .header__user {
      margin-left: 10px; } }

.header__user-icon {
  color: #fff;
  font-size: 30px; }

.header__user-menu {
  display: none; }

.header__user-name {
  font-weight: 500;
  margin-bottom: 10px; }

.header__user-menu-list {
  margin-bottom: 10px; }

html, body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.42;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media screen and (max-width: 925px) {
    html, body {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html, body {
      font-size: 14px; } }

body {
  position: relative; }

.wrapper {
  width: 100%;
  height: 100%; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.content {
  width: 1000px;
  max-width: 80vw;
  padding: 0px 20px; }
  @media screen and (max-width: 925px) {
    .content {
      width: 100%; } }

.main {
  width: 100%;
  min-height: calc(100% - 60px);
  background-color: #F1F1F2; }

.main__content {
  background-color: #fff;
  padding: 20px 20px 0px 20px;
  min-height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.text-input {
  border-radius: 7px;
  width: 250px;
  height: 30px;
  padding: 3px;
  margin-bottom: 5px;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.filter-input {
  border-radius: 7px;
  width: 80%;
  height: 30px;
  padding: 3px;
  margin-bottom: 5px;
  text-align: left;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.submit-btn {
  border: 0px;
  border-radius: 7px;
  width: 100px;
  height: 30px;
  padding: 3px;
  margin-bottom: 5px;
  text-align: center;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .submit-btn:hover {
    background-color: #6D6E70; }

.title {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 20px; }

.description {
  margin-bottom: 20px; }

section {
  margin-bottom: 20px; }

.popup {
  padding: 20px;
  border-radius: 10px; }

.table {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%; }

.table-header-row {
  background-color: #CD7233;
  color: #fff; }

.table-data-row {
  background-color: rgba(241, 241, 242, 0.5);
  color: #fff; }
  .table-data-row:hover {
    background-color: #f1f1f2; }

.table-cell {
  padding: 7px;
  width: 25%; }

.table-header-cell {
  text-align: left;
  vertical-align: top;
  font-weight: 500; }

.table-data-cell {
  color: #000; }

.table-link {
  color: #000; }

.table__header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.table__header-title {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

.table__header-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .table__header-controls button {
    color: #fff;
    opacity: 0.4; }
    .table__header-controls button:hover {
      opacity: 1; }

.table__header-sort-btn {
  margin-left: 3px; }

.table__header-filter-btn {
  font-size: 14px; }

.table__header-input {
  display: none;
  margin-top: 10px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .table__header-input button {
    color: #fff;
    opacity: 0.4; }
    .table__header-input button:hover {
      opacity: 1; }

.pagination {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.pagination__page-amount {
  margin-right: 40px; }

.pagination__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.pagination__pages-current-page {
  margin-right: 40px; }

.pagination__pages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.pagination__pages-item {
  margin-right: 10px; }

.edit-section {
  width: 100%; }

.edit__buttons-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.edit__buttons-item {
  background-color: rgba(0, 135, 153, 0.8);
  border: #fff solid 1px;
  width: 100%;
  text-align: center;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  .edit__buttons-item:hover {
    background-color: #008799; }

.edit__buttons-link {
  color: #fff;
  text-decoration: none; }

.edit-btn {
  color: #008799; }

.add-btn {
  color: #008799;
  display: block;
  margin-top: 20px; }

.delete-btn {
  color: #008799; }

.edit {
  display: none; }

.main__spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.footer {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  padding: 10px 20px;
  background-color: #F1F1F2;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 40px; }
  .footer__company span:nth-child(1) {
    font-weight: 500; }

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .footer__contacts a {
    text-decoration: none;
    color: #000; }
    .footer__contacts a:hover {
      text-decoration: underline; }

.footer__spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__socials-item {
  font-size: 20px;
  color: #6D6E70;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  margin-left: 20px; }
  .footer__socials-item:hover {
    color: #CD7233; }

.intro__desc span b {
  font-weight: 500; }

/*# sourceMappingURL=transport.css.map */