{{#unless no-add-btn}}
    <button class="add-btn edit disabled">
        <i class="fas fa-plus-square"></i>
        <span>Добавить {{#if table-routes}}маршрут{{/if}}{{#if table-transport}}ТС{{/if}}{{#if table-stops}}остановку{{/if}}</span>
    </button>
{{/unless}}