<div class="filter-block disabled">
    <div class="filter-block__checkboxes">
        <label for="transport-type" class="filter-block__checkbox-item">
            <input type="checkbox" class="checkbox" name="transport-type" value="bus" checked>
            <span class="checkbox-custom"></span>
            <span class="label">Автобус</span>
        </label>
        <label for="transport-type" class="filter-block__checkbox-item">
            <input type="checkbox" class="checkbox" name="transport-type" value="taxi" checked>
            <span class="checkbox-custom"></span>
            <span class="label">Маршрутное такси</span>
        </label>
    </div>
    <button class="filter-block__close-btn close-btn">
        <i class="fas fa-times"></i>
    </button>
</div>