<div class="filter-block disabled" id={{filter-block-id}}>
    <input type="text" class="filter-block__input" placeholder="Начните ввод" id={{filter-input-id}}>
    <button class="filter-block__close-btn close-btn">
        <i class="fas fa-times"></i>
    </button>
    <div class="autocomplete disabled" id={{autocomplete-id}}>
        <ul class="autocomplete__list"></ul>
    </div>
</div>