 <div class="pagination">
    <div class="pagination__page-amount">
        <span>Записей на странице: </span>
        <select class="pagination__page-amount-select select">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="100">100</option>
        </select>
    </div>
    <div class="pagination__pages">
        <div class="pagination__pages-current-page">Страница 1 из 1</div>
        <ul class="pagination__pages-list">
            <li class="pagination__pages-item">
                <a href="" class="pagination__pages-link">1</a>
            </li>
            <li class="pagination__pages-item">
                <a href="" class="pagination__pages-link">2</a>
            </li>
            <li class="pagination__pages-item">
                <a href="" class="pagination__pages-link">3</a>
            </li>
        </ul>
    </div>
</div>