{{#if columns2}}
    <tr class="transport__table-row table-data-row table-row">
        {{> body/sections/table/table-data-cell }}
        {{> body/sections/table/table-data-cell }}
    </tr>
{{/if}}

{{#if columns3}}
    <tr class="transport__table-row table-data-row table-row">
        {{> body/sections/table/table-data-cell }}
        {{> body/sections/table/table-data-cell }}
        {{> body/sections/table/table-data-cell }}
    </tr>
{{/if}}

{{#if columns4}}
    <tr class="transport__table-row table-data-row table-row">
        {{> body/sections/table/table-data-cell }}
        {{> body/sections/table/table-data-cell }}
        {{> body/sections/table/table-data-cell }}
        {{> body/sections/table/table-data-cell }}
    </tr>
{{/if}}

{{#if columns5}}
    <tr class="transport__table-row table-data-row table-row">
        {{> body/sections/table/table-data-cell }}
        {{> body/sections/table/table-data-cell }}
        {{> body/sections/table/table-data-cell }}
        {{> body/sections/table/table-data-cell }}
        {{> body/sections/table/table-data-cell }}
    </tr>
{{/if}}