<td class="transport__table-cell table-data-cell table-cell">
    <a href="" class="ts-card-link table-link">11-093</a>
    <button class="transport__edit-btn edit-btn edit">
        <i class="fas fa-edit"></i>
    </button>
    <button class="transport__delete-btn delete-btn edit">
        <i class="fas fa-trash-alt"></i>
    </button>
</td>