<th class="transport__table-header table-header-cell table-cell {{#if narrow}}table-cell_narrow{{/if}}">
    <div class="table__header-block">
        <div class="table__header-title">{{title}}</div>
        <div class="table__header-controls">
            {{#if sort}}
            {{> body/sections/table/sort-btn }}
            {{/if}}
            {{#if filter}}
            {{> body/sections/table/filter-btn }}
            {{/if}}
            {{#if select}}
            {{> body/sections/table/filter-btn }}
            {{/if}}
        </div>
    </div>
    {{#if filter}}
    {{> body/sections/table/filter-input }}
    {{/if}}
    {{#if select}}
    {{> body/sections/table/checkbox-block }}
    {{/if}}
</th>