
{{#if table-routes}}
    <tr class="routes__table-row table-header-row table-row">
        {{> body/sections/table/table-header-cell title="Номер маршрута" sort=true filter=true filter-btn-id="id-filter-btn" filter-block-id="id-filter-block" filter-input-id="id-filter-input" autocomplete-id="id-autocomplete" sort-btn-id="id-sort-btn" }}
        {{> body/sections/table/table-header-cell title="Тип ТС" sort=true filter=true }}
        {{> body/sections/table/table-header-cell title="Начальная остановка" sort=true filter=true }}
        {{> body/sections/table/table-header-cell title="Конечная остановка" sort=true filter=true }}
        {{!-- {{> body/sections/table/table-header-cell title="Число остановок" sort=true filter=true }} --}}
        {{!-- {{> body/sections/table/table-header-cell title="Пересекается с маршрутами" sort=true filter=true }} --}}
    </tr>
{{/if}}


{{#if table-transport}}
    <tr class="transport__table-row table-header-row table-row">
        {{> body/sections/table/table-header-cell title="Парковый номер ТС" sort=true filter=true filter-btn-id="id-filter-btn" filter-block-id="id-filter-block" filter-input-id="id-filter-input" autocomplete-id="id-autocomplete" sort-btn-id="id-sort-btn" }}
        {{> body/sections/table/table-header-cell title="Тип ТС" sort=true select=true }}
        {{> body/sections/table/table-header-cell title="Маршруты" sort=true filter=true filter-btn-id="routes-filter-btn" filter-block-id="routes-filter-block" filter-input-id="routes-filter-input" autocomplete-id="routes-autocomplete" sort-btn-id="routes-sort-btn"}}
        {{> body/sections/table/table-header-cell title="Количество мест" sort=true sort-btn-id="seats-sort-btn" }}
    </tr>
{{/if}}

{{#if table-stops}}
    <tr class="stops__table-row table-header-row table-row">
        {{> body/sections/table/table-header-cell title="Номер остановки" sort=true filter=true filter-btn-id="id-filter-btn" filter-block-id="id-filter-block" filter-input-id="id-filter-input" autocomplete-id="id-autocomplete" sort-btn-id="id-sort-btn"  }}
        {{> body/sections/table/table-header-cell title="Название остановки" sort=true filter=true }}
        {{> body/sections/table/table-header-cell title="Маршруты" sort=true filter=true }}
        {{!-- {{> body/sections/table/table-header-cell title="Расписание" }} --}}
    </tr>
{{/if}}

{{#if table-route-card}}
    <tr class="route-card__table-row table-header-row table-row">
        {{> body/sections/table/table-header-cell title="№" narrow=true}}
        {{> body/sections/table/table-header-cell title="Название остановки" }}
    </tr>
{{/if}}
