<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    {{!-- дальше мое --}}
    <link rel="icon" type="image/png" href="/static-assets/png/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static-assets/png/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static-assets/png/favicon-96x96.png" sizes="96x96">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="/static-assets/css/normalize.css">
    <link rel="stylesheet" href="/{{ css-link }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    {{!-- end --}}
    <title>{{ title }}</title>
    <script>
        (function () {
            const port = 'ws://localhost:{{ port }}';
            const socket = new WebSocket(port);
            // Listen for messages
            socket.addEventListener('message', function (event) {
                if (event.data === 'reload') {
                    window.location.href = window.location.href;
                }
            });
        })();
    </script>
    <script src="/{{ js-link }}" type="module" defer></script>
    {{#if map}}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=d382cfc8-b672-40a8-bca9-ad3a9d09ed26" type="text/javascript"></script>
    {{/if}}
</head>