<section class="auth-section section">
    <div class="form-block auth-section__form-block">
        <div class="form-block__content" id="auth">
            <div class="form-block__title"></div>
            <form action="" class="form-block__form form" id="auth-form">
                <input type="text" name="login" placeholder="E-mail" class="form-block__text-input" required>
                <input type="password" name="password" placeholder="Пароль" class="form-block__text-input" required>
                <button type="submit" class="form-block__submit-btn button" id="login-submit-btn">Войти</button>
            </form>
            <div class="form-block__extras">
                <a href="#" class="auth__forget" id="forget-pass">Забыли пароль?</a>
                <div class="auth__register">Нет аккаунта? <a href="" id="not-registered">Регистрация</a></div>
                <div class="auth__socials">
                    <span>Войти через:</span>
                    <ul class="auth__socials-list">
                        <li class="auth__socials-item">
                            <a href="index" class="auth__socials-link">
                                <i class="fab fa-vk"></i>
                            </a>
                        </li>
                        <li class="auth__socials-item">
                            <a href="route-card" class="auth__socials-link">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-block__content disabled" id="registration">
            <div class="form-block__title">Регистрация</div>
            <form action="" class="form-block__form">
                <input type="text" placeholder="Имя (по желанию)" class="form-block__text-input">
                <input type="text" placeholder="Фамилия (по желанию)" class="form-block__text-input">
                <input type="text" placeholder="E-mail" class="form-block__text-input" required>
                <input type="password" placeholder="Пароль" class="form-block__text-input" required>
                <input type="password" placeholder="Повторите пароль" class="form-block__text-input" required>
                <button type="submit" class="form-block__submit-btn button" id="register-submit-btn">Зарегистрироваться</button>
            </form>
            <div class="form-block__extras"></div>
        </div>
        <div class="form-block__content disabled" id="restore-pass">
            <div class="form-block__title">Восстановление пароля</div>
            <form action="" class="form-block__form">
                <input type="text" placeholder="Ваш e-mail" class="form-block__text-input" required>
                <button type="submit" class="form-block__submit-btn button" id="restore-pass-submit-btn">Отправить</button>
            </form>
            <div class="form-block__extras">
                <span>Вам на почту будет направлена ссылка для восстановления доступа к системе</span>
            </div>
        </div>
    </div>
</section>