<div class="map --big" id="map"></div>
<div class="bottom-block big-map__bottom-block">
    <div class="big-map__intro">
        <h1 class="bottom-block__title title">Построить маршрут</h1>
        <div class="bottom-block__desc">
            <span>Для построения маршрута обозначьте на карте начальную и конечную точки. Будут найдены остановки, ближайшие к указанным точкам.</span>
        </div>
    </div>
    <ul class="big-map__results-list disabled">
        <li class="big-map__results-item">
            <span>Начальная остановка: </span>
            <span>пр. Нахимова</span>
        </li>
        <li class="big-map__results-item">
            <span>Конечная остановка: </span>
            <span>наб. р. Смоленки</span>
        </li>
        <li class="big-map__results-item">
            <span>Маршруты: </span>
            <span>Автобус 45 + Маршрутное такси 358</span>
        </li>
        <li class="big-map__results-item">
            <span>Остановок: </span>
            <span>13</span>
        </li>
        <li class="big-map__results-item">
            <span>В пути: </span>
            <span>0ч 47мин</span>
        </li>
    </ul>
</div>