<section class="news section">
    <h1 class="news__title title">Новости</h1>
    <ul class="news__list">
        <li class="news__item">
            <div class="news__img"></div>
            <div class="news__desc">
                <div class="news__date">07.10.2019</div>
                <div class="news__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit!</div>
                <div class="news__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium itaque, odit aut quas nisi doloremque porro sed voluptatum culpa totam eius tempora consectetur quos.</div>
            </div>
            <button class="news__edit-btn edit-btn edit">
                <i class="fas fa-edit"></i>
            </button>
            <button class="news__delete-btn delete-btn edit">
                <i class="fas fa-trash-alt"></i>
            </button>
        </li>
        <li class="news__item">
            <div class="news__img"></div>
            <div class="news__desc">
                <div class="news__date">07.10.2019</div>
                <div class="news__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit!</div>
                <div class="news__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium itaque, odit aut quas nisi doloremque porro sed voluptatum culpa totam eius tempora consectetur quos consequuntur temporibus sunt beatae! Officia, tempori...</div>
            </div>
            <button class="news__edit-btn edit-btn edit">
                <i class="fas fa-edit"></i>
            </button>
            <button class="news__delete-btn delete-btn edit">
                <i class="fas fa-trash-alt"></i>
            </button>
        </li>
        <li class="news__item">
            <div class="news__img"></div>
            <div class="news__desc">
                <div class="news__date">05.10.2019</div>
                <div class="news__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit!</div>
                <div class="news__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium itaque, odit aut quas nisi doloremque porro sed voluptatum culpa totam eius tempora consectetur quos consequuntur temporibus sunt beatae! Officia, temporibus.</div>
            </div>
            <button class="news__edit-btn edit-btn edit">
                <i class="fas fa-edit"></i>
            </button>
            <button class="news__delete-btn delete-btn edit">
                <i class="fas fa-trash-alt"></i>
            </button>
        </li>
        <li class="news__item">
            <div class="news__img"></div>
            <div class="news__desc">
                <div class="news__date">22.09.2019</div>
                <div class="news__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit!</div>
                <div class="news__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium itaque, odit aut quas nisi doloremque porro sed voluptatum culpa totam eius tempora consectetur quos consequuntur temporibus sunt beatae! Officia, tempori...</div>
            </div>
            <button class="news__edit-btn edit-btn edit">
                <i class="fas fa-edit"></i>
            </button>
            <button class="news__delete-btn delete-btn edit">
                <i class="fas fa-trash-alt"></i>
            </button>
        </li>
    </ul>
    <a href="" class="news__controls">Смотреть все</a>
    <button class="news__add-btn add-btn edit">
        <i class="fas fa-plus-square"></i>
        <span>Добавить новость</span>
    </button>
</section>