<div class="details-section section">
    <div class="details-section__string">
        <span>{{param1}}</span>
        <span>$</span>
    </div>
    <div class="details-section__string">
        <span>{{param2}}</span>
        <span>$</span>
    </div>
    <div class="details-section__string">
        <span>{{param3}}</span>
        <span>$</span>
    </div>
    <div class="details-section__string">
        <span>{{param4}}</span>
        <span>1ч 44мин</span>
    </div>
</div>

