<section class="edit-section section edit disabled">
    <ul class="edit__buttons-list">
        <li class="edit__buttons-item">
            <a href="" class="edit__buttons-link">Добавить ТС</a>
        </li>
        <li class="edit__buttons-item">
            <a href="" class="edit__buttons-link">Добавить маршрут</a>
        </li>
        <li class="edit__buttons-item">
            <a href="" class="edit__buttons-link">Добавить остановку</a>
        </li>
        <li class="edit__buttons-item">
            <a href="" class="edit__buttons-link">Добавить новость</a>
        </li>
    </ul>
</section>