<section class="icons section">
    <ul class="icons__list">
        <li class="icons__item">
            <a href="transport" class="icons__link">
                <i class="fas fa-bus"></i>
            </a>
            <div class="icons__desc">Транспорт</div>
        </li>
        <li class="icons__item">
            <a href="routes" class="icons__link">
                <i class="fas fa-route"></i>
            </a>
            <div class="icons__desc">Маршруты</div>
        </li>
        <li class="icons__item">
            <a href="stops" class="icons__link">
                <i class="fas fa-city"></i>
            </a>
            <div class="icons__desc">Остановки</div>
        </li>
        <li class="icons__item">
            <a href="map" class="icons__link">
                <i class="fas fa-map-marked-alt"></i>
            </a>
            <div class="icons__desc">Построить маршрут</div>
        </li>
    </ul>
</section>