<section class="intro section">
    <h1 class="intro__title title">{{title}}</h1>
    {{#unless no-desc}}
    <div class="intro__desc">
        <span>
            {{desc}}
        </span>
    </div>
    {{/unless}}
    {{#if edit-btns}}
        {{> body/sections/card-edit-btns}}
    {{/if}}
</section>