<section class="news section">
    <h1 class="news__title title">Новости</h1>
    <ul class="news__list">
        <li class="news__item">
            <div class="news__img"></div>
            <div class="news__desc">
                <div class="news__date">07.10.2019</div>
                <div class="news__subtitle">Новая остановка на Кантемировской улице</div>
                <div class="news__text">С 26 октября 2018 года на трассах троллейбусных маршрутов № 18, 31 при следовании от ст. м. "Лесная", введена новая остановка "Улица Харченко" (расположенная на Кантемировской ул., 33). Отметим, что ранее данная остановка действовала только для автобусных маршрутов № 33, 60, 137, 185.</div>
            </div>
            <button class="news__edit-btn edit-btn edit disabled">
                <i class="fas fa-edit"></i>
            </button>
            <button class="news__delete-btn delete-btn edit disabled">
                <i class="fas fa-trash-alt"></i>
            </button>
        </li>
        <li class="news__item">
            <div class="news__img"></div>
            <div class="news__desc">
                <div class="news__date">07.10.2019</div>
                <div class="news__subtitle">На маршруты вышла новая модификация автобусов</div>
                <div class="news__text">Речь идёт о газомоторных автобусах ЛиАЗ-5292.67 холдинга "Питеравто", вышедших сегодня на маршруты 3л, 4л, 7л и 18. Техника приехала из Волгограда, где холдинг присутствует с декабря 2016 года. Машины отличаются от других аналогичных, уже эксплуатирующихся в нашем городе (5292.71), отечественным двигателем ЯМЗ.</div>
            </div>
            <button class="news__edit-btn edit-btn edit disabled">
                <i class="fas fa-edit"></i>
            </button>
            <button class="news__delete-btn delete-btn edit disabled">
                <i class="fas fa-trash-alt"></i>
            </button>
        </li>
        <li class="news__item">
            <div class="news__img"></div>
            <div class="news__desc">
                <div class="news__date">05.10.2019</div>
                <div class="news__subtitle">Перевозчики развивают междугородные направления</div>
                <div class="news__text">На этой неделе пресс-служба компании "ПТК" сообщила о запуске сразу 6 новых автобусов по междугородным и международным автобусным направлениям. Увеличился "шаг" между сиденьями - поездка для пассажиров в таком автобусе, соответственно, комфортнее.</div>
            </div>
            <button class="news__edit-btn edit-btn edit disabled">
                <i class="fas fa-edit"></i>
            </button>
            <button class="news__delete-btn delete-btn edit disabled">
                <i class="fas fa-trash-alt"></i>
            </button>
        </li>
        <li class="news__item">
            <div class="news__img"></div>
            <div class="news__desc">
                <div class="news__date">22.09.2019</div>
                <div class="news__subtitle">За перекрёстком остановите!</div>
                <div class="news__text">C 18 октября 2018 года остановка "Станция метро «Гражданский проспект»" (в направлении от улицы Руставели) на трамвайных маршрутах № 51, 100 перенесена на другую сторону перекрестка проспекта Просвещения и Гражданского проспекта (ближе к вестибюлю станции метро).</div>
            </div>
            <button class="news__edit-btn edit-btn edit disabled">
                <i class="fas fa-edit"></i>
            </button>
            <button class="news__delete-btn delete-btn edit disabled">
                <i class="fas fa-trash-alt"></i>
            </button>
        </li>
    </ul>
    <a href="" class="news__controls">Смотреть все</a>
    <button class="news__add-btn add-btn edit disabled">
        <i class="fas fa-plus-square"></i>
        <span>Добавить новость</span>
    </button>
</section>