
.auth-section__form-block {
    margin-bottom: 4vh;
}

.auth__forget {
    color: #fff;
    margin-bottom: 12px;

}

.auth__register {
    margin-bottom: 7px;

}
.auth__register a {
    color: #fff;
    
}

.auth__socials {

    display: flex;
    align-items: center;

}

.auth__socials span {
    margin-right: 10px;

}

.auth__socials-list {
    display: flex;

}

.auth__socials-item {
    margin-right: 10px;
    font-size: 20px;
    
}

.auth__socials-link {
    color: #fff;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
    transition: 300ms;

}